<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<hr>

<body>
<a href="/logout">Logout</a>
<hr>

<h1>{{ book.title }}</h1>

<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Year:</strong> {{ book.year }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>

<hr>

<h3>Leave a Review</h3>

<form method="post">
    Rating (1-5):
    <input type="number" name="rating" min="1" max="5" required>

    <br><br>

    <textarea name="review" placeholder="Write your review"></textarea>

    <br><br>

    <button type="submit">Submit Review</button>
</form>

<hr>

<h3>Reviews:</h3>

{% if reviews %}
<ul>
{% for r in reviews %}
    <li>
        ⭐ {{ r.rating }}/5 <br>
        {{ r.review }}
    </li>
{% endfor %}
</ul>
{% else %}
<p>No reviews yet.</p>
{% endif %}

<br>
<a href="/search">Back to Search</a>

</body>
</html>
